In [1]:
import pandas as pd
df = pd.read_csv('shopping.csv')
print(df.head())
print(df.info())

   Id Gender Country  Amount  Visits
0   1      M     KSA    1500       4
1   2      M     KSA    2000       5
2   3      M     KSA    3000       6
3   4      F     KSA    2000       1
4   5      F     KSA    1000       2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       20 non-null     int64
 1   Gender   20 non-null     object
 2   Country  20 non-null     object
 3   Amount   20 non-null     int64
 4   Visits   20 non-null     int64
dtypes: int64(3), object(2)
memory usage: 932.0+ bytes
None

In [4]:
gc = df.groupby('Country')
print(gc.groups)

{'KSA': [0, 1, 2, 3, 4, 5, 6], 'Kuwait': [15, 16, 17, 18, 19], 'UAE': [7, 8, 9, 10, 11, 12, 13, 14]}

In [10]:
gc = df.groupby('Country')
print(gc.get_group('UAE'))

    Id Gender Country  Amount  Visits
7    8      M     UAE    3000       6
8    9      M     UAE    2000       7
9   10      F     UAE    1000       5
10  11      M     UAE    1500       3
11  12      M     UAE    2000       2
12  13      F     UAE    3000       1
13  14      M     UAE    2000       2
14  15      F     UAE    1000       4

In [13]:
gc = df.groupby(['Country', 'Gender', 'Visits'])
for name, group in gc:
    print(name)
    print(group)

('KSA', 'F', 1)
   Id Gender Country  Amount  Visits
3   4      F     KSA    2000       1
('KSA', 'F', 2)
   Id Gender Country  Amount  Visits
4   5      F     KSA    1000       2
('KSA', 'M', 3)
   Id Gender Country  Amount  Visits
5   6      M     KSA    1500       3
('KSA', 'M', 4)
   Id Gender Country  Amount  Visits
0   1      M     KSA    1500       4
6   7      M     KSA    2000       4
('KSA', 'M', 5)
   Id Gender Country  Amount  Visits
1   2      M     KSA    2000       5
('KSA', 'M', 6)
   Id Gender Country  Amount  Visits
2   3      M     KSA    3000       6
('Kuwait', 'F', 2)
    Id Gender Country  Amount  Visits
19  20      F  Kuwait    1000       2
('Kuwait', 'F', 3)
    Id Gender Country  Amount  Visits
18  19      F  Kuwait    2000       3
('Kuwait', 'F', 5)
    Id Gender Country  Amount  Visits
15  16      F  Kuwait    1500       5
('Kuwait', 'M', 5)
    Id Gender Country  Amount  Visits
16  17      M  Kuwait    2000       5
('Kuwait', 'M', 6)
    Id Gender Country  Amount  Visits
17  18      M  Kuwait    3000       6
('UAE', 'F', 1)
    Id Gender Country  Amount  Visits
12  13      F     UAE    3000       1
('UAE', 'F', 4)
    Id Gender Country  Amount  Visits
14  15      F     UAE    1000       4
('UAE', 'F', 5)
   Id Gender Country  Amount  Visits
9  10      F     UAE    1000       5
('UAE', 'M', 2)
    Id Gender Country  Amount  Visits
11  12      M     UAE    2000       2
13  14      M     UAE    2000       2
('UAE', 'M', 3)
    Id Gender Country  Amount  Visits
10  11      M     UAE    1500       3
('UAE', 'M', 6)
   Id Gender Country  Amount  Visits
7   8      M     UAE    3000       6
('UAE', 'M', 7)
   Id Gender Country  Amount  Visits
8   9      M     UAE    2000       7

In [14]:
counts = df.groupby('Country')['Id'].count()
print(counts)

Country
KSA       7
Kuwait    5
UAE       8
Name: Id, dtype: int64

In [18]:
gc = df.groupby(['Country', 'Gender'])['Id'].count()
print(gc)

Country  Gender
KSA      F         2
         M         5
Kuwait   F         3
         M         2
UAE      F         3
         M         5
Name: Id, dtype: int64

In [24]:
gc = df.groupby(['Country'])['Amount'].agg('mean')
print(gc)

Country
KSA       1857.142857
Kuwait    1900.000000
UAE       1937.500000
Name: Amount, dtype: float64

In [27]:
gc = df.groupby(['Country']).agg(Mean_Amount=('Amount', 'mean'), Sum_Visits=('Visits', 'sum'))
print(gc)

         Mean_Amount  Sum_Visits
Country
KSA      1857.142857          25
Kuwait   1900.000000          21
UAE      1937.500000          30

In [36]:
gc = df.groupby(['Country']).agg(Sum_Amount=('Amount', 'sum'), Sum_Visits=('Visits', 'sum'))
gc.sort_values(by = ['Sum_Amount'], ascending=False)

         Sum_Amount  Sum_Visits
Country
UAE           15500          30
KSA           13000          25
Kuwait         9500          21