In [1]:
import pandas as pd

df = pd.read_csv("IrisErrors.csv")
print(df)

      Id  SepalLengthCm SepalWidthCm PetalLengthCm  PetalWidthCm  \
0      1            5.1          3.5           1.4           0.2
1      2            NaN          abc           1.4           0.2
2      3            NaN          3.2           def        1000.0
3      4            NaN          3.1           1.5         200.0
4      5            5.0          3.6           1.4           0.2
..   ...            ...          ...           ...           ...
145  146            6.7            3           5.2           2.3
146  147            6.3          2.5             5           1.9
147  148            6.5            3           5.2           2.0
148  149            6.2          3.4           5.4           2.3
149  150            5.9            3           5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2               NaN
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  147 non-null    float64
 2   SepalWidthCm   150 non-null    object
 3   PetalLengthCm  150 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        148 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB
None

In [4]:
for col in df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    print(df.head())
    print(df.info())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            NaN           NaN            1.4           0.2  Iris-setosa
2   3            NaN           3.2            NaN        1000.0          NaN
3   4            NaN           3.1            1.5         200.0  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  147 non-null    float64
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        148 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            NaN           NaN            1.4           0.2  Iris-setosa
2   3            NaN           3.2            NaN        1000.0          NaN
3   4            NaN           3.1            1.5         200.0  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  147 non-null    float64
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        148 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            NaN           NaN            1.4           0.2  Iris-setosa
2   3            NaN           3.2            NaN        1000.0          NaN
3   4            NaN           3.1            1.5         200.0  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  147 non-null    float64
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        148 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            NaN           NaN            1.4           0.2  Iris-setosa
2   3            NaN           3.2            NaN        1000.0          NaN
3   4            NaN           3.1            1.5         200.0  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  147 non-null    float64
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        148 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
#df = df.dropna(subset['Species'])
#print(df.head())

In [5]:
df['Species'].fillna(value='Unknown', inplace=True)
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            NaN           NaN            1.4           0.2  Iris-setosa
2   3            NaN           3.2            NaN        1000.0      Unknown
3   4            NaN           3.1            1.5         200.0  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
for col in df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].columns:
    df[col].fillna(value=df[col].mean(), inplace=True)
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       5.100000      3.500000       1.400000           0.2  Iris-setosa
1   2       5.865986      3.054362       1.400000           0.2  Iris-setosa
2   3       5.865986      3.200000       3.775168        1000.0      Unknown
3   4       5.865986      3.100000       1.500000         200.0  Iris-setosa
4   5       5.000000      3.600000       1.400000           0.2  Iris-setosa

In [8]:
df['PetalWidthCm'] = df['PetalWidthCm'].where(df['PetalWidthCm'] < 10, 10)
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       5.100000      3.500000       1.400000           0.2  Iris-setosa
1   2       5.865986      3.054362       1.400000           0.2  Iris-setosa
2   3       5.865986      3.200000       3.775168          10.0      Unknown
3   4       5.865986      3.100000       1.500000          10.0  Iris-setosa
4   5       5.000000      3.600000       1.400000           0.2  Iris-setosa